{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
HardWork-Home
{% endblock %}

{% block cabecera %}
<IMG SRC='{% static "img/cabecera.jpg" %}' WIDTH=100% HEIGHT=350 ALT="hardwork">
{% endblock %}

{% block content %}

<link rel="stylesheet" href='{% static "css/inicio.css" %}'/>
{{ author }}
<div id="slider">
<figure>
<img src='{% static "img/1.jpg" %}'>
<img src='{% static "img/2.jpg" %}'>
<img src='{% static "img/3.jpg" %}'>
<img src='{% static "img/4.jpg" %}'>
</figure>
</div>

{% endblock %}
